body {
  padding: 0;
  margin: 0;
}
.heading {
  position: absolute;
  margin-left: 0;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://wallpapersite.com/images/wallpapers/stars-2560x1440-purple-cosmos-hd-7172.jpg');
  background-size: 100% 100%;
}
.tmenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  color: black;
}
.tmenu .title {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 35px;
  font-family: helvetica;
  color: #650e7c;
}
.tmenu .items {
  position: absolute;
  top: 10px;
  right: 5px;
  width: auto;
}
.tmenu .items #item {
  position: relative;
  text-align: center;
  font-size: 25px;
  font-family: helvetica;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s;
  border-top: 8px solid white;
  border-bottom: 8px solid white;
}
.tmenu .items #item:hover {
  border-top: 4px solid #650e7c;
  border-bottom: 4px solid #650e7c;
}
