html, body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

#site-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

#site-menu-title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

#site-menu-nav {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: default;
    height: 60px;
    opacity: 1;
}

#site-menu-nav > li {
    margin-right: 20px;
}

#site-menu-nav > li, #site-menu-nav > li * {
    margin-top: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    border-bottom: 2px solid rgba(256, 256, 256, 0);
    transition: border-bottom 0.2s;
    opacity: 1;
    text-decoration: none;

}

#site-menu-nav > li:hover {
    border-bottom: 2px solid white;
}

#site-menu-nav-mobile {
    display: none;
    z-index: 10 !important;
}

#site-menu-nav-container {
    z-index: 10 !important;
}

#site-menu-nav-mobile-button {
    color: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10 !important;
}

.arrow {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(270deg);
    -moz-transform: translate(-50%, -50%) rotate(270deg);
    -ms-transform: translate(-50%, -50%) rotate(270deg);
    -o-transform: translate(-50%, -50%) rotate(270deg);
    transform: translate(-50%, -50%) rotate(270deg);
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid blue;
    z-index: 10;
}

#site-menu-background-overlay {
    display: block;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #000 url(images/dot-overlay.png) !important;
    opacity: 0.57;
    z-index: 2;
}

#site-menu-background-container > div {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}

#site-menu-text-container * {
    z-index: 5;
}

#site-menu-background-container {
    z-index: 0;
}

#site-menu-background-container-top {
    z-index: 1;
}

#site-menu-background-container-bottom {
    z-index: 0;
}

#hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -10000000000000;
}

#site-menu-title-container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
}

#site-menu-title-container > h1 {
    width: 100vw;
    color: white;
    z-index: 5;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content {
    position: absolute;
    top: 100vh;
    min-height: 100vh;
}

#content > .content-section {
    text-align: center;
    width: calc(100vw / 2);
    margin-left: calc(100vw / 4);
    min-height: 100vh;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

#site-menu-nav-wrap-mobile {
    display: block;
}

#site-menu-down-button {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    margin-left: calc(50vw - (57px / 2));
    margin-top: -100px;
    width: 40px;
    height: 40px;
    z-index: 5;
    animation: arrow;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes arrow {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes arrow {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes arrow {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes arrow {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    #site-menu-nav {
        display: none;
        position: absolute;
        right: 0;
        top: -15px;
    }

    #site-menu-nav > li {
        display: block;
        background: #a7cfdf; /* Old browsers */
        background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #a7cfdf 0%, #23538a 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #a7cfdf 0%, #23538a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background-repeat: no-repeat;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7cfdf', endColorstr='#23538a', GradientType=0); /* IE6-9 */
        margin-right: 0;
        padding-left: 10px;
        width: calc(100vw - 10px);
        color: #000;
        border-bottom: 2px solid #23538a;
    }

    #site-menu-nav > li {
        text-decoration: none;
        padding-left: 10px;
    }

    #site-menu-nav > li > a:visited {
        color: #000;
    }

    #site-menu-nav-wrap-mobile.active {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100vw;
        height: 100vh;
        color: #8C8C8C;
    }

    #site-menu-nav-wrap-mobile * {
        opacity: 1;
    }

    #site-menu-nav-mobile {
        display: block;
    }

}