body {
  background-image: url('http://getwallpapers.com/wallpaper/full/2/e/2/315803.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  padding: 0;
  margin: 0;
}
.header {
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: white;
  border-bottom: 2px dotted black;
}
.page {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.page .container {
  position: relative;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  top: 125px;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: -7px 7px rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.page .container .title {
  left: 0;
  position: absolute;
  text-align: center;
  font-size: 70px;
  color: white;
  font-family: helvetica;
  top: -85px;
  z-index: 1;
}
.page .container .description {
  position: relative;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  width: 60%;
  top: 100px;
  text-align: center;
  height: auto;
  font-size: 35px;
  color: black;
  font-family: helvetica;
  padding-bottom: 200px;
}
.button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 2px solid black;
    font-size: 30px;
    font-family: helvetica;
    text-align: center;
    width: 270px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 200px;
    cursor: pointer;
    transition: 0.2s;
}
.button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}